
easybrew/EasyBrew/EasyBrew/obj/Debug/netcoreapp2\.2/project\.razor\.json

easybrew/EasyBrew/EasyBrew/obj/Debug/netcoreapp2\.2/EasyBrew\.csproj\.CoreCompileInputs\.cache

easybrew/EasyBrew/EasyBrew/obj/Debug/netcoreapp2\.2/EasyBrew\.csprojAssemblyReference\.cache
